# SVN 连接资源仓库时报错 E230001: Server SSL certificate verification

在SVN的安装目录的bin目录下
![1588124463124](C:\Users\msi\AppData\Roaming\Typora\typora-user-images\1588124463124.png)

打开命令框
![1588124520716](C:\Users\msi\AppData\Roaming\Typora\typora-user-images\1588124520716.png)

1、输入

```cmd
输入svn ls svnURL
输入P
输入本机密码
输入svn username
输入svn password
```



![1588124586072](C:\Users\msi\AppData\Roaming\Typora\typora-user-images\1588124586072.png)

